<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.map_app">

    <!-- Required permission for internet access -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required permission for accessing the network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainActivity"
        android:label="map_app"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Main activity definition -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Meta-data for specifying a theme for the Flutter UI -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Intent filter to launch the main activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Meta-data for Flutter plugin registrant -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Meta-data for Google Maps API key -->
        <meta-data 
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvdWTRDRIKWd11ClIGYQrSfc883IEkRiw" />
    </application>

    <!-- Required to query activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
